 *{
    margin: 0;
    padding-left: 0px;
}
.navbar {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 20px;
    color: white;
}

.logo {
    width: 70px;
    height: 50px;
    margin-right: 20px;
    border-radius: 10px;
}

.hotel-name {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
}
